
.selectable-selectbox {
  z-index: 9000;
  position: absolute;
  cursor: default;
  background: none;
  border: 1px dashed grey;
}

.selectable-div, .selected-div {
  width: 180px;
  height: 28px;
  line-height: 28px;
  padding: 0 3px;
  box-sizing: border-box;
  user-select:none;
}

.selectable-div {
  background-color: #ffffff;
  :hover {
    background-color: #eeeeee;
  }
}

.selected-div {
  background-color: #dddddd;
  :hover {
    background-color: #6699bb;
  }
}